# as of now only a tmdb access key (that is a jwt token) will work.... api key will soon be supported as well
VITE_TMDB_API_KEY=your_tmdb_api_key_here
#should point to your cinepro/omss backend server
VITE_OMSS_API_URL=http://localhost:8080